<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an atrribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
    <connectionStrings>
        <add name="ConnectionString"
          connectionString="server=localhost\dev2008r2;database=HawaiiDBEDT;User Id=sa;Password=Sw9prustUMA5"
          xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  <system.web>
    <customErrors defaultRedirect="/error.html" mode="On" xdt:Transform="Replace" />
    
      <authentication mode="Forms" xdt:Transform="Replace">
          <forms name="appNameAuth" path="/admin" loginUrl="/admin/login.aspx" defaultUrl="/admin/" protection="All" timeout="480">
              <credentials passwordFormat="Clear">
                  <user name="admin" password="H1@isEnergy" />
              </credentials>
          </forms>
      </authentication>
  </system.web>
</configuration>