/*Telerik RadGrid Windows7 Skin*/

/*global*/

.RadGrid_Custom
{
    border:1px solid #a5b3c5;
    background:#fcfcfc;
    color:#000;
}

.RadGrid_Custom,
.RadGrid_Custom .rgMasterTable,
.RadGrid_Custom .rgDetailTable,
.RadGrid_Custom .rgGroupPanel table,
.RadGrid_Custom .rgCommandRow table,
.RadGrid_Custom .rgEditForm table,
.RadGrid_Custom .rgPager table,
.GridToolTip_Custom
{
    font:12px/16px Arial, sans-serif;
}

.RadGrid_Custom .rgHeader:first-child,
.RadGrid_Custom th.rgResizeCol:first-child,
.RadGrid_Custom .rgFilterRow>td:first-child,
.RadGrid_Custom .rgRow>td:first-child,
.RadGrid_Custom .rgAltRow>td:first-child
{
	border-left-width:0;
	padding-left:8px;
}

.RadGrid_Custom .rgAdd,
.RadGrid_Custom .rgRefresh,
.RadGrid_Custom .rgEdit,
.RadGrid_Custom .rgDel,
.RadGrid_Custom .rgFilter,
.RadGrid_Custom .rgPagePrev,
.RadGrid_Custom .rgPageNext,
.RadGrid_Custom .rgPageFirst,
.RadGrid_Custom .rgPageLast,
.RadGrid_Custom .rgExpand,
.RadGrid_Custom .rgCollapse,
.RadGrid_Custom .rgSortAsc,
.RadGrid_Custom .rgSortDesc,
.RadGrid_Custom .rgUpdate,
.RadGrid_Custom .rgCancel,
.RadGrid_Custom .rgUngroup,
.RadGrid_Custom .rgExpXLS,
.RadGrid_Custom .rgExpDOC,
.RadGrid_Custom .rgExpPDF,
.RadGrid_Custom .rgExpCSV
{
	background-image:url('Grid/sprite.gif');
}

/*header*/

.RadGrid_Custom .rgHeaderDiv
{
	background:#f1f5fb;
}

.RadGrid_Custom .rgHeader,
.RadGrid_Custom th.rgResizeCol
{
	border:1px solid;
	border-color:#f6f9fb #fff #c2cedb #e1eaf3;
	border-top-width:0;
	background:#f1f5fb;
}

.RadGrid_Custom th.rgSorted
{
	background:0 -2600px repeat-x #dde8f7 url('Grid/sprite.gif');
}

.RadGrid_Custom .rgHeader,
.RadGrid_Custom .rgHeader a
{
    color:#4c607a;
}

/*rows*/

.RadGrid_Custom .rgRow td,
.RadGrid_Custom .rgAltRow td,
.RadGrid_Custom .rgEditRow td,
.RadGrid_Custom .rgFooter td
{
	border-style:solid;
	border-width:0 1px 1px;
}

.RadGrid_Custom .rgRow
{
	background-color:#ebeff3;
}

.RadGrid_Custom .rgRow td
{
	border-color:#ebeff3;
}

.RadGrid_Custom .rgAltRow td
{
	border-color:#fff;
}

.RadGrid_Custom .rgRow .rgSorted,
.RadGrid_Custom .rgAltRow .rgSorted
{					
	border-width:0 1px 1px;
}

.RadGrid_Custom .rgSelectedRow .rgSorted,
.RadGrid_Custom .rgActiveRow .rgSorted,
.RadGrid_Custom .rgHoveredRow .rgSorted,
.RadGrid_Custom .rgEditRow .rgSorted
{
	background-color:transparent;
}

.RadGrid_Custom .rgRow a,
.RadGrid_Custom .rgAltRow a,
.RadGrid_Custom .rgEditRow a,
.RadGrid_Custom .rgFooter a,
.RadGrid_Custom .rgEditForm a
{
	color: #1163a2;
}

.RadGrid_Custom .rgSelectedRow
{
    background:#d7e8fe 0 -3900px repeat-x url('Grid/sprite.gif');
}
*+html .RadGrid_Custom .rgSelectedRow .rgSorted{background-color:#d7e8fe}
* html .RadGrid_Custom .rgSelectedRow .rgSorted{background-color:#d7e8fe}

.RadGrid_Custom .rgActiveRow,
.RadGrid_Custom .rgHoveredRow
{
    background:#e7eef6 0 -2900px repeat-x url('Grid/sprite.gif');
}
*+html .RadGrid_Custom .rgActiveRow .rgSorted,
*+html .RadGrid_Custom .rgHoveredRow .rgSorted{background-color:#e7eef6}
* html .RadGrid_Custom .rgActiveRow .rgSorted,
* html .RadGrid_Custom .rgHoveredRow .rgSorted{background-color:#e7eef6}

.RadGrid_Custom .rgEditRow
{
	background:#e6f0fd 0 -4900px repeat-x url('Grid/sprite.gif');
}
*+html .RadGrid_Custom .rgEditRow .rgSorted{background-color:#e6f0fd}
* html .RadGrid_Custom .rgEditRow .rgSorted{background-color:#e6f0fd}

.RadGrid_Custom .rgSelectedRow td,
.RadGrid_Custom .rgActiveRow td,
.RadGrid_Custom .rgHoveredRow td,
.RadGrid_Custom .rgEditRow td
{
	border-left-width:0;
	border-right-width:0;
	padding-left:8px;
	padding-right:8px;
}

.RadGrid_Custom .rgSelectedRow td,
.RadGrid_Custom .rgSelectedRow .rgSorted
{
	/*border-bottom-color:#8daed5; */
}

.RadGrid_Custom .rgActiveRow td,
.RadGrid_Custom .rgActiveRow .rgSorted,
.RadGrid_Custom .rgHoveredRow td,
.RadGrid_Custom .rgHoveredRow .rgSorted
{
	/*border-bottom-color:#a8d8eb;  */
}

.RadGrid_Custom .rgEditRow td,
.RadGrid_Custom .rgEditRow .rgSorted
{
	/*border-bottom-color:#8daed5;*/
}

.RadGrid_Custom .rgDrag
{
	background-image:url('Grid/rgDrag.gif');
}

/*footer*/

.RadGrid_Custom .rgFooterDiv,
.RadGrid_Custom .rgFooter
{
	background:#e2eaf4;
}

.RadGrid_Custom .rgFooter td
{
	border-top-width:1px;
	border-color:#e2eaf4;
}

/*status*/

.RadGrid_Custom .rgPager .rgStatus
{
	border:1px solid;
	border-color:#fcfcfc #c2cedb #f1f5fb #f1f5fb;
	border-left-width:0;
}

.RadGrid_Custom .rgStatus div
{
	background-image:url('Common/loading_small.gif');
}

/*pager*/

.RadGrid_Custom .rgPager
{
	background:#f1f5fb 0 -5900px repeat-x url('Grid/sprite.gif');
}

.RadGrid_Custom td.rgPagerCell
{
	border:1px solid;
	border-color:#fcfcfc #fff #f1f5fb;
	border-right-width:0;
}

.RadGrid_Custom .rgInfoPart
{
	color:#5a6779;
}

.RadGrid_Custom .rgInfoPart strong
{
	color:#1e395b;
}

.RadGrid_Custom .rgPageFirst
{
	background-position:0 -550px;
}
.RadGrid_Custom .rgPageFirst:hover
{
	background-position:0 -600px;
}
.RadGrid_Custom .rgPagePrev
{
	background-position:0 -700px;
}
.RadGrid_Custom .rgPagePrev:hover
{
	background-position:0 -750px;
}
.RadGrid_Custom .rgPageNext
{
	background-position:0 -850px;
}
.RadGrid_Custom .rgPageNext:hover
{
	background-position:0 -900px;
}
.RadGrid_Custom .rgPageLast
{
	background-position:0 -1000px;
}
.RadGrid_Custom .rgPageLast:hover
{
	background-position:0 -1050px;
}

.RadGrid_Custom .rgPager .rgPagerButton
{
	border-color:#c2cedb;
	background:#dde8f6 repeat-x 0 -1550px url('Grid/sprite.gif');
	color:#1e395b;
	font:12px/12px "segoe ui",arial,sans-serif;
}

.RadGrid_Custom .rgNumPart a:hover,
.RadGrid_Custom .rgNumPart a:hover span,
.RadGrid_Custom .rgNumPart a.rgCurrentPage,
.RadGrid_Custom .rgNumPart a.rgCurrentPage span
{
	background:no-repeat url('Grid/sprite.gif');
}

.RadGrid_Custom .rgNumPart a
{
	color:#1e395b;
}

.RadGrid_Custom .rgNumPart a:hover
{
	background-position:100% -1250px;
	color:#4c607a;
}

.RadGrid_Custom .rgNumPart a:hover span
{
	background-position:0 -1150px;
}

.RadGrid_Custom .rgNumPart a.rgCurrentPage,
.RadGrid_Custom .rgNumPart a.rgCurrentPage:hover
{
	background-position:100% -1450px;
	color:#4c607a;
}

.RadGrid_Custom .rgNumPart a.rgCurrentPage span,
.RadGrid_Custom .rgNumPart a.rgCurrentPage:hover span
{
	background-position:0 -1350px;
}

/*sorting, reordering*/

.RadGrid_Custom .rgHeader .rgSortAsc
{
	background-position:3px -248px;
	height:10px;
}

.RadGrid_Custom .rgHeader .rgSortDesc
{
	background-position:3px -198px;
	height:10px;
}

.GridReorderTop_Custom,
.GridReorderBottom_Custom
{
	height:11px;
	background:0 0 no-repeat url('Grid/sprite.gif');
}

.GridReorderBottom_Custom
{
	background-position:0 -50px;
}

/*filtering*/

.RadGrid_Custom .rgFilterRow
{
	background:#f1f5fb;
}

.RadGrid_Custom .rgFilterRow td
{
    border-left:1px solid #f1f5fb;
    border-right:1px solid #f1f5fb;
}

.RadGrid_Custom .rgFilter
{
	background-position:0 -300px;
}

.RadGrid_Custom .rgFilter:hover
{
	background-position:0 -350px;
}

.RadGrid_Custom .rgFilterActive,
.RadGrid_Custom .rgFilterActive:hover
{
	background-position:0 -400px;
}

.RadGrid_Custom .rgFilterBox
{
	border-color:#b8cbde;
	font:12px "segoe ui",arial,sans-serif;
	color:#000;
}

/*filter context menu*/

.RadMenu_Custom .rgHCMClear,
.RadMenu_Custom .rgHCMFilter
{
	border-color:#c2cedb;
	background:#dde8f6 center -23px repeat-x url('FormDecorator/ButtonSprites.gif');
	color:#1e395b;
	font-family:"segoe ui",arial,sans-serif;
}

.RadMenu_Custom .rgHCMClear:hover,
.RadMenu_Custom .rgHCMFilter:hover
{
	border-color:#c2dbfb;
	background-position:center -67px;
	background-color:#e7edf5;
}

/*grouping*/

.RadGrid_Custom .rgGroupPanel
{
	border:1px solid;
	border-color:#f2f5fa #f6f9fb #f6f9fb;
	background:#eef3f8 0 -1900px repeat-x url('Grid/sprite.gif');
}

.RadGrid_Custom .rgGroupPanel td
{
	border:0;
	padding:0;
}

.RadGrid_Custom .rgGroupPanel td td
{
	padding:2px 3px 1px;
}

.RadGrid_Custom .rgGroupPanel td td td
{
	padding:0;
}

.RadGrid_Custom .rgGroupPanel .rgSortAsc
{
	background-position:4px -144px;
}

.RadGrid_Custom .rgGroupPanel .rgSortDesc
{
	background-position:4px -94px;
}

.RadGrid_Custom .rgUngroup
{
	background-position:0 -7200px;
}

.RadGrid_Custom .rgGroupItem
{
	border:1px solid #9bc9ff;
	background:#dde8f6 0 -7000px repeat-x url('Grid/sprite.gif');
}

.RadGrid_Custom .rgGroupHeader
{
    background:0 -6489px repeat-x url('Grid/sprite.gif');
    font-size:1.1em;
    line-height:21px;
	color:#1e3287;
}

.RadGrid_Custom .rgGroupHeader td
{
    padding:0 8px;
}

.RadGrid_Custom .rgExpand
{
	background-position:5px -496px;
}

.RadGrid_Custom .rgCollapse
{
	background-position:3px -444px;
}

.RadGrid_Custom .rgGroupHeader .rgExpand,
.RadGrid_Custom .rgGroupHeader .rgCollapse
{
	background-color:#fcfcfc;
}

.RadGrid_Custom .rgGroupHeader td p
{
    background:#fcfcfc;
}

.RadGrid_Custom .rgGroupHeader td div div
{
	background:#fcfcfc;
}

/*editing*/

.RadGrid_Custom .rgEditForm
{
	border-bottom:1px solid #666;
}

.RadGrid_Custom .rgUpdate
{
	background-position:0 -1800px;
}

.RadGrid_Custom .rgCancel
{
	background-position:0 -1850px;
}

/*hierarchy*/

.RadGrid_Custom .rgDetailTable
{
	border-color:#a5b3c5;
}

/*command row*/

.RadGrid_Custom .rgCommandRow
{
	background:#e4edf8 0 -2099px repeat-x url('Grid/sprite.gif');
	color:#1e395b;
}

.RadGrid_Custom .rgCommandCell
{
	border:1px solid;
	border-color:#fbfdfe #f1f7fc #ebf3fb;
	padding:0;
}

.RadGrid_Custom tfoot .rgCommandCell,
.RadGrid_Custom .rgMasterTable>tbody>tr.rgCommandRow .rgCommandCell
{
	border-top:1px solid #c2cedb;
}

.RadGrid_Custom .rgCommandTable td
{
	border:0;
	padding:2px 7px;
}

.RadGrid_Custom .rgCommandTable
{
	border:0;
}

.RadGrid_Custom .rgCommandRow a
{
	color:#1163a2;
	text-decoration:none;
}	

.RadGrid_Custom .rgCommandRow a:hover
{
	color:#1163a2;	 
	text-decoration: underline;
}

.RadGrid_Custom .rgAdd
{
	margin-right:3px;
	background-position:0 -1650px;
}

.RadGrid_Custom .rgRefresh
{
	margin-right:3px;
	background-position:0 -1600px;
}

.RadGrid_Custom .rgEdit
{
	background-position:0 -1700px;
}

.RadGrid_Custom .rgDel
{
	background-position:0 -1750px;
}

.RadGrid_Custom .rgExpXLS,
.RadGrid_Custom .rgExpDOC,
.RadGrid_Custom .rgExpPDF,
.RadGrid_Custom .rgExpCSV
{
	background-image:url('../Common/Grid/export.gif');
}

.RadGrid_Custom .rgExpXLS
{
	background-position:0 0;
}
.RadGrid_Custom .rgExpDOC
{
	background-position:0 -50px;
}
.RadGrid_Custom .rgExpPDF
{
	background-position:0 -100px;
}
.RadGrid_Custom .rgExpCSV
{
	background-position:0 -150px;
}

/*multirow select*/

.GridRowSelector_Custom
{
	background:#039;
}

/*row drag n drop*/

.GridItemDropIndicator_Custom
{
    border-top:1px dashed #039;
}

/*tooltip*/

.GridToolTip_Custom
{
	border:1px solid #a0afc3;
	padding:3px;
	background:#eef4fb;
	color:#4c607a;
}

/*rtl*/

.RadGridRTL_Custom .rgHeader:first-child,
.RadGridRTL_Custom th.rgResizeCol:first-child,
.RadGridRTL_Custom .rgFilterRow>td:first-child,
.RadGridRTL_Custom .rgRow>td:first-child,
.RadGridRTL_Custom .rgAltRow>td:first-child
{
	border-left-width:1px;
	padding-left:7px;
}

.RadGridRTL_Custom .rgPageFirst
{
	background-position:0 -1000px;
}
.RadGridRTL_Custom .rgPageFirst:hover
{
	background-position:0 -1050px;
}
.RadGridRTL_Custom .rgPagePrev
{
	background-position:0 -850px;
}
.RadGridRTL_Custom .rgPagePrev:hover
{
	background-position:0 -900px;
}
.RadGridRTL_Custom .rgPageNext
{
	background-position:0 -700px;
}
.RadGridRTL_Custom .rgPageNext:hover
{
	background-position:0 -750px;
}
.RadGridRTL_Custom .rgPageLast
{
	background-position:0 -550px;
}
.RadGridRTL_Custom .rgPageLast:hover
{
	background-position:0 -600px;
}